Repository finos/perspective, pull requests merged in 2020-07, with the labels that each got.

#1109 Add client/server editing example, fix hypergrid to allow editing in workspace
  examples/workspace-editing/README.md
  examples/workspace-editing/package.json
  examples/workspace-editing/src/index.html
  examples/workspace-editing/src/index.js
  examples/workspace-editing/src/index.less
  examples/workspace-editing/webpack.config.js
  packages/perspective-viewer-hypergrid/src/js/editors.js
  python/perspective/examples/client_server_edits.py
Labels: cla-present

#1096 Fixed Typos in Perspective API Docs
  packages/perspective/README.md
Labels: documentation

#1119 Fix transferable list in worker.postMessage
  packages/perspective-viewer/test/arrow/int_float_str.arrow
  packages/perspective-viewer/test/js/regressions.spec.js
  packages/perspective-viewer/test/js/test_arrows.js
  packages/perspective-viewer/test/results/linux.docker.json
  packages/perspective/src/js/api/server.js
  packages/perspective/src/js/perspective.parallel.js
Labels: cla-present

#1110 slight UX change, dont end with stack trace as it looks like it raise…
  python/perspective/perspective/libpsp.py
Labels: Python, cla-present, enhancement

#1112 Explicitly floor start row/col and ceil end row/col
  packages/perspective/src/js/perspective.js
  packages/perspective/test/js/to_format.js
  python/perspective/perspective/table/_data_formatter.py
  python/perspective/perspective/tests/table/test_to_format.py
Labels: JS, Python, cla-present, internal

#1116 Properly display computed axis on charts, use local time for all datetime functions
  azure-pipelines.yml
  cpp/perspective/src/cpp/aggspec.cpp
  cpp/perspective/src/cpp/base.cpp
  cpp/perspective/src/cpp/computed_function.cpp
  cpp/perspective/src/cpp/config.cpp
  cpp/perspective/src/cpp/extract_aggregate.cpp
  cpp/perspective/src/cpp/sparse_tree.cpp
  cpp/perspective/src/cpp/view_config.cpp
  cpp/perspective/src/include/perspective/base.h
  packages/perspective-viewer-d3fc/src/js/charts/treemap.js
  packages/perspective-viewer-d3fc/src/js/plugin/plugin.js
  packages/perspective-viewer-d3fc/test/js/integration/line.spec.js
  packages/perspective-viewer-d3fc/test/results/linux.docker.json
  packages/perspective-viewer-highcharts/src/js/highcharts/draw.js
  packages/perspective-viewer-highcharts/test/js/axis_tests.js
  packages/perspective-viewer-highcharts/test/results/linux.docker.json
  packages/perspective/test/js/computed/datetime.js
  packages/perspective/test/js/pivots.js
  python/perspective/perspective/manager/manager_internal.py
  python/perspective/perspective/tests/manager/test_manager.py
  python/perspective/perspective/tests/table/test_table_datetime.py
Labels: C++, JS, Python, bug, cla-present

#1141 Fix path resolution for cross-origin assets
  packages/perspective-webpack-plugin/src/js/utils.js
Labels: cla-present

#1140 Enable updates from arrows that have more/less columns than the Table schema
  cpp/perspective/src/cpp/arrow_loader.cpp
  cpp/perspective/src/cpp/emscripten.cpp
  cpp/perspective/src/include/perspective/arrow_loader.h
  packages/perspective-viewer-d3fc/src/js/charts/treemap.js
  packages/perspective-viewer/test/js/regressions.spec.js
  packages/perspective/test/js/updates.js
  python/perspective/perspective/src/table.cpp
  python/perspective/perspective/tests/table/test_update_arrow.py
Labels: cla-present

#1136 Fix issue where contexts were being notified before gnode state was updated
  cpp/perspective/src/cpp/gnode.cpp
  cpp/perspective/src/include/perspective/gnode.h
  packages/perspective/test/js/computed/functionality.js
  packages/perspective/test/js/pivots.js
  python/perspective/perspective/tests/core/test_aggregates.py
  python/perspective/perspective/tests/table/test_view.py
  python/perspective/perspective/viewer/validate.py
  python/perspective/perspective/viewer/viewer_traitlets.py
Labels: C++, Python, bug, cla-present

#1105 Generate/test Manylinux wheels, clean up wheel/build process
  azure-pipelines.yml
  cmake/modules/FindPyArrow.cmake
  cpp/perspective/CMakeLists.txt
  docker/python/manylinux2010/Dockerfile
  docker/python/manylinux2014/Dockerfile
  docs/md/python.md
  package.json
  python/perspective/scripts/test_wheels.sh
  scripts/_test_wheel_python.js
  scripts/_wheel_python.js
Labels: Python, cla-present, enhancement, internal

#1142 Fix #1129 and #1130, remove Highcharts and Hypergrid from PerspectiveWidget
  packages/perspective-jupyterlab/src/config/plugin.config.js
  packages/perspective-jupyterlab/src/config/webpack.config.js
  packages/perspective-jupyterlab/src/ts/index.ts
  packages/perspective-viewer-d3fc/src/js/charts/charts.js
  packages/perspective-viewer-highcharts/src/js/highcharts/highcharts.js
Labels: JS, Jupyter, bug, cla-present
