Repository finos/perspective, pull requests merged in 2020-08, with the labels that each got.

#1147 Adds `set_threadpool_size()`
  python/perspective/perspective/include/perspective/python.h
  python/perspective/perspective/include/perspective/python/utils.h
  python/perspective/perspective/libpsp.py
  python/perspective/perspective/src/utils.cpp
  python/perspective/perspective/tests/core/test_threadpool.py
Labels: C++, Python, cla-present, enhancement

#1153 Fix segfault and errors on 2-sided sorted views when data window is invalid
  cpp/perspective/src/cpp/view.cpp
  python/perspective/perspective/tests/table/test_to_format.py
Labels: C++, Python, bug, cla-present

#1155 Adds PR templates for bugfix, documentation, and feature
  .github/PULL_REQUEST_TEMPLATE/Bugfix.md
  .github/PULL_REQUEST_TEMPLATE/Documentation.md
  .github/PULL_REQUEST_TEMPLATE/Feature.md
Labels: cla-present, enhancement

#1164 Fixes #1159 - deltas are now generated on first update for 0-sided contexts
  cpp/perspective/src/cpp/context_zero.cpp
  cpp/perspective/src/cpp/view.cpp
  cpp/perspective/src/include/perspective/context_zero.h
  packages/perspective-bench/bench/perspective.benchmark.js
  packages/perspective-bench/bench/versions.js
  packages/perspective-bench/src/js/browser_runtime.js
  packages/perspective/src/js/perspective.js
  packages/perspective/test/js/computed/deltas.js
  packages/perspective/test/js/delta.js
  python/perspective/perspective/tests/table/test_view.py
Labels: cla-present

#1163 fix for virtualenvs/envs with multiple py3 installed, allow for up to arrow 0.17
  azure-pipelines.yml
  cmake/modules/FindNumPy.cmake
  cmake/modules/FindPyArrow.cmake
  cpp/perspective/CMakeLists.txt
  docs/md/development.md
  docs/md/installation.md
  python/perspective/pyproject.toml
  python/perspective/setup.py
  scripts/_wheel_python.js
  scripts/build_python.js
Labels: Python, cla-present, enhancement

#1172 Add `d3fc` X/Y Line Chart
  packages/perspective-viewer-d3fc/src/js/axis/axisFactory.js
  packages/perspective-viewer-d3fc/src/js/charts/charts.js
  packages/perspective-viewer-d3fc/src/js/charts/xy-line.js
  packages/perspective-viewer-d3fc/src/js/charts/xy-scatter.js
  packages/perspective-viewer-d3fc/src/js/data/xySplitData.js
  packages/perspective-viewer-d3fc/src/js/index/xy-line.js
  packages/perspective-viewer-d3fc/src/js/legend/legend.js
  packages/perspective-viewer-d3fc/src/less/chart.less
  packages/perspective-viewer-d3fc/test/js/integration/xy-line.spec.js
  packages/perspective-viewer-d3fc/test/results/linux.docker.json
Labels: cla-present
